html {
	
	background: url(background.jpg),no-repeat, center, fixed;
	background-size: cover;


}





h1 {

	text-align: left;
	font-size: 40px;
	text-decoration: underline;

}


button {
	border:none;
  	background-image: linear-gradient(to top left, #aed100, #ecff8f);   
    width:80px;
    padding: 10px;
    margin-right: 10px;
    

}


#community{
text-align:center;
display: block;
margin-bottom: 20px;


}

#omg {
max-width: 740px;
 width: 87%;
 height: auto;
border: 5px;
border-style:solid;



}

#OhLook {

font-size:130%;
text-align: center;
padding:15px;
margin:10px;
border-style:solid;
float:right;
max-width:300px;
background-color: #ffc552;
box-shadow: 10px 10px grey;
}

#icon {
	float:center;
	padding: 20px;
	border-style: none;
	margin-top: 10px;
	margin-bottom:10px;
		width: 35%;
		word-wrap: 
}


ol p1 {

	font-family: arial;
	font-size: 150%;
	background-color: #ffc552;
	border: none;


	padding:5px;
}

ol li{

	background:#e5ffb5;
	font-family: arial;
	color:black;
	left-margin:20px;
	padding:10px;
	width:60%;

}

#total{

border-style:solid;
padding:10px;
	float:center;
}


#quiz {
font-family:arial;
width: 80%;
max-width: 700px;
border: 5px;
border-style:solid;
margin: auto;
padding: 20px;
background-color:#e5ffb5;

}
