*{

align-items: center;
font-family: Comfortaa,sans-serif;

}

html,body{
text-align: center;
height: 100%;



}

#map {
       
        height: 100%;
        width: 60%;
      }

#description {
border: solid black;
padding:5px;
margin:10px;


}